// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local('JetBrains Mono'),
  url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono Extra Bold';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local('JetBrains Mono Extra Bold'),
  url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-ExtraBold.woff') format('woff');
}

body {
  font-family: "JetBrains Mono", sans-serif;
}

.bg-primary-light-1 {
  background-color: #994fff;
}

.bg-primary-light-2 {
  background-color: #bb7fff;
}

.bg-primary-light-3 {
  background-color: #d6adff;
}

.bg-gradient-tmi {
  background: linear-gradient(90deg, rgba(83,5,165,1) 0%, rgba(69,5,141,1) 60%, rgba(36,4,87,1) 100%);
}