$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #181e23 !default;
$gray-800: #141a1e !default;
$gray-900: #0d1114 !default;
$black:    #000 !default;

// Colors
$primary:       #6d00ff;
$danger:        #c00;
$dark:          #150130;

// Body
$body-bg:                   $white;
$body-color:                #150130;

// Table
.thead-primary {
  background-color: $primary;
  color: $white;
}

.thead-secondary {
  background-color: #250459;
  color: $white;
}

// Grid containers

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;